*, *::after, *::before {
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 35px;
    color: #fff;
}
hr{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    background: #F6F4F4;
    background-origin: content-box;
    background-image: url(../images/header-bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.header__inner{
    min-height: 100vh;
    
}
.header__top{
    display: flex;
    padding: 16px 0 72px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: block;
    width: 170px;
    height: 87px;
    
}
.menu__list{
    display: flex;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    padding-left: 60px;
      
}
.menu__item{
    display: inline-block;
    margin-left: 25px;
}
.menu__link{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.9);
}

.header__phone-number{
    font-size: 20px;
    line-height: 27px;
    color:#fff;
    font-weight: 800;
    margin-left: 45px;
}
.header__top-btn{
    padding: 18px 32px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    border-radius: 5px;
    background: #5BBFC8;
    font-weight: 800;
    border: none;
    margin-left: auto;
    
    
}
.header__content{
    margin-bottom: 80px;
    padding-left: 20px;
}
.header__title{
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
    color:rgba(255, 255, 255);
    margin-bottom: 10px;
}
.header__text{
    padding-bottom: 40px;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    max-width: 540px;
}
.header__button{
    display: inline-block;
    padding: 18px 16px 20px 19px;
    background: #FFD200;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color:#000;
    text-align: center;
    vertical-align: center;
}
.header__button-img{
    
    margin-left: 7px;
    margin-bottom: -10px;
}

.header__cards-box{
    display: flex;
     
}
.header__card-text{
    display: block;
}
.header__card-item{
    font-size: 19px;
    line-height: 25px;
    border-radius: 10px;
    padding-left: 17px;
    padding-right: 63px;
    padding-top: 16px;
    width: 204px;
}
.header__card-item_size-bigger{
    font-size: 16px;
    line-height: 22px;
    color:#000;
    background: url(../images/header__card-item-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 66px 24px 59px 42px;
    border-radius: 10px;
    margin-right: 11px;
    width: 412px;
}
.header__card-title{
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color:#000;
}
.header__card-hr{
    width: 88px;
    height: 5px;
    color: #000;
    background: #000;
    border: none;
    border-radius: 5px;
}
.header__card-item_theme-sun{
    margin-right: 11px;
    color:#000;
    background: #FFD300; 
}
.header__card-price_theme-sun{
    color: #534407;
    background: #DEB905;     
}
.header__card-price{
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 8px;
    display: inline-block;
    margin-bottom: 13px; 
}
.header__card-logo{
    width: 108px;
    height: 108px;
    display: block;
    margin-top: 72px;
}
.header__card-item_theme-grey{
    color:#fff;
    background: #4B5257;
    margin-right: 11px;
    padding-left: 14px;
    padding-right: 4px;
}
.header__card-price_theme-grey{
    color: #fff;
    background: #B0B0B0;
}
.header__card-item_theme-blue{
    color:#000;
    background: #5BBFC8;
}
.header__card-price_theme-blue{
    color: #1E4D54;
    background: #49A1A9;
}

.main__title{
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    color:#17181c;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.main_background{
    background: linear-gradient(#F6F4F4, #F6F4F4);
    background-repeat: no-repeat ;
    background-position: top;
    padding-top: 90px;
}

.main__sub-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
    color: #17181C;
    text-align: center;
    padding-right: 50px;
    margin-bottom: 63px;
}
.main__sub-title>span{
    display: inline-block;
    background-color: #FFD300;
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 10px;
}
.main__content{
    color: #17181C;
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 10px 0 0;
}
.main__content-img{
    width: 48vw;
    background-image: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 70px;
}
.main__img{
    
    object-fit: fill;
    
}
.main__content-wrap{
    padding-top: 50px;
}
.main__text{
    margin-bottom: 58px;
    list-style-type: none;
}
.main__item{
    margin-bottom: 19px;
    align-items: center;
    line-height: 29px;
}
.main__item:last-child{
    margin-bottom: 0;
}
.main__item-text{
    display: inline-block;
    vertical-align: bottom;
    line-height: 16px;
}

.main__item>hr{
    transform: rotate(-90deg);
    width: 28px;
    height: 5px;
    background: #000;
    display: inline-block;
    align-items: center;
    border-radius: 5px;   
}
.form{
    display: flex;
    flex-direction: column;
}
.form-label{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #17181C;
    padding-left: 58px;
    margin-bottom: 8px;
    
}
.input-tel{
    margin-left: 26px;
    border: none;
    background: #fff;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #17181C;
    padding-left: 29px;
    padding-top: 23px;
    padding-bottom: 23px;
    margin-bottom: 24px;
    max-width: 350px;
    border-radius: 5px;
}
.button{
    margin-left: 76px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #17181c;
    background: #FFD300;
    padding: 23px 55px;
    border: none;
    border-radius: 5px;
    margin-bottom: 97px;
}

.benefits{
    background-image: url(/shinomontazh/images/benefist-bg.jpg);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.benefits__title{
 padding-top: 94px;
 font-weight: 800;
 font-size: 45px;
 line-height: 55px;
 color:#17181c;
 text-transform: uppercase;
 text-align: center;
 font-family: "Manrope", serif;
 padding-bottom: 163px;

}
.benefits__main{
    display: flex;
    justify-content: space-between;
    padding-bottom: 233px;
}
.beenfits__img{
    display: block;
    padding-top: 20px;
    z-index: 1;
    
}
.benefits__main-text{
    display: block;
    font-size: 20px;
    line-height: 23px;
    font-weight: 800;
    color: #17181c;
    padding-bottom: 20px;
    border-bottom: 1px dotted #000;
    max-width: 317px;
    height: 100px;
    position: relative;
    
}
.benefits__main-left{
    display: flex;
    flex-direction: column;    
}
.benefits__main-text_left{
    padding-left: 31px;
    padding-top: 28px;
}
.benefits__main-text_left:first-child{
    padding-top: 0;
    height: 50px;
}

.benefits__main-right{
    display: flex;
    flex-direction: column;
}

.benefits__main-text_right{
    padding-top: 28px;
    padding-left: 34px;
    padding-right: 127px;
}
.benefits__main-text_right:first-child{
    padding-top: 0;
    height: 50px;
}
.time{
    padding-top: 128px;
    padding-bottom: 107px;
    background-image: url(/shinomontazh/images/time-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
}
.time__title{
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;text-align: center;
    color:#17181c;
    margin-left: 53px;
    padding-bottom: 44px;
}
.button_black{
    background: #17181C;
    color:#fff;
    margin-bottom: 0;
    margin-left: 18px;
    margin-top: 27px;
}
.time__form{
    display: flex;
    margin-left: 223px;

}
.time__input-tel_mini{
    margin-bottom: 0;
    padding-right: 100px;
}

