*, *::after, *::before {
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 35px;
    color: #fff;
}
hr{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    background: #F6F4F4;
    background-origin: content-box;
    background-image: url(../images/header-bg1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.header__inner{
    min-height: 100vh;
    
}
.header__top{
    display: flex;
    padding: 16px 0 72px;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: block;
    width: 170px;
    height: 87px;
    
}
.menu__list{
    display: flex;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    padding-left: 60px;
      
}
.menu__item{
    display: inline-block;
    margin-left: 25px;
}
.menu__link{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.9);
}

.header__phone-number{
    font-size: 20px;
    line-height: 27px;
    color:#fff;
    font-weight: 800;
    margin-left: 45px;
}
.header__top-btn{
    padding: 18px 32px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    border-radius: 5px;
    background: #5BBFC8;
    font-weight: 800;
    border: none;
    margin-left: auto;
    
    
}
.header__content{
    margin-bottom: 80px;
    padding-left: 20px;
}
.header__title{
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
    color:rgba(255, 255, 255);
    margin-bottom: 10px;
}
.header__text{
    padding-bottom: 40px;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    max-width: 540px;
}
.header__button{
    display: inline-block;
    padding: 18px 16px 20px 19px;
    background: #FFD200;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color:#000;
    text-align: center;
    vertical-align: center;
}
.header__button-img{
    
    margin-left: 7px;
    margin-bottom: -10px;
}

.header__cards-box{
    display: flex;
     
}
.header__card-text{
    display: block;
}
.header__card-item{
    font-size: 19px;
    line-height: 25px;
    border-radius: 10px;
    padding-left: 17px;
    padding-right: 63px;
    padding-top: 16px;
    width: 204px;
}
.header__card-item_size-bigger{
    font-size: 16px;
    line-height: 22px;
    color:#000;
    background: url(../images/header__card-item-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 66px 24px 59px 42px;
    border-radius: 10px;
    margin-right: 11px;
    width: 412px;
}
.header__card-title{
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color:#000;
}
.header__card-hr{
    width: 88px;
    height: 5px;
    color: #000;
    background: #000;
    border: none;
    border-radius: 5px;
}
.header__card-item_theme-sun{
    margin-right: 11px;
    color:#000;
    background: #FFD300; 
}
.header__card-price_theme-sun{
    color: #534407;
    background: #DEB905;     
}
.header__card-price{
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    border-radius: 5px;
    padding: 5px 8px;
    display: inline-block;
    margin-bottom: 13px; 
}
.header__card-logo{
    width: 108px;
    height: 108px;
    display: block;
    margin-top: 72px;
}
.header__card-item_theme-grey{
    color:#fff;
    background: #4B5257;
    margin-right: 11px;
    padding-left: 14px;
    padding-right: 4px;
}
.header__card-price_theme-grey{
    color: #fff;
    background: #B0B0B0;
}
.header__card-item_theme-blue{
    color:#000;
    background: #5BBFC8;
}
.header__card-price_theme-blue{
    color: #1E4D54;
    background: #49A1A9;
}

.main__title{
    font-weight: 800;
    font-size: 45px;
    line-height: 55px;
    color:#17181c;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.main_background{
    background: linear-gradient(#F6F4F4, #F6F4F4);
    background-repeat: no-repeat ;
    background-position: top;
    padding-top: 90px;
}

.main__sub-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 35px;
    color: #17181C;
    text-align: center;
    padding-right: 50px;
    margin-bottom: 63px;
}
.main__sub-title>span{
    display: inline-block;
    background-color: #FFD300;
    border-radius: 5px;
    padding: 5px 15px;
    margin-right: 10px;
}
.main__content{
    color: #17181C;
    display: flex;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 10px 0 0;
}
.main__content-img{
    width: 48vw;
    background-image: url(../images/main-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 70px;
}
.main__img{
    
    object-fit: fill;
    
}
.main__content-wrap{
    padding-top: 50px;
}
.main__text{
    margin-bottom: 58px;
    list-style-type: none;
}
.main__item{
    margin-bottom: 19px;
    align-items: center;
    line-height: 29px;
}
.main__item:last-child{
    margin-bottom: 0;
}
.main__item-text{
    display: inline-block;
    vertical-align: bottom;
    line-height: 16px;
}

.main__item>hr{
    transform: rotate(-90deg);
    width: 28px;
    height: 5px;
    background: #000;
    display: inline-block;
    align-items: center;
    border-radius: 5px;   
}
.main__form{
    display: flex;
    flex-direction: column;
}
.main__form-label{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #17181C;
    padding-left: 58px;
    margin-bottom: 8px;
    
}
.main__input-tel{
    margin-left: 26px;
    border: none;
    background: #fff;
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #17181C;
    padding-left: 29px;
    padding-top: 23px;
    padding-bottom: 23px;
}
.main__button{

}



