*, *::after, *::before {
    box-sizing: border-box;
}

body{
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 35px;
    color: #fff;
}

a{
    text-decoration: none;
    color: inherit;
}
.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    background-image: url(../images/header-bg.png);
    background-repeat: no-repeat;
    background-position:  center;
    background-size: cover;
}
.header__inner{
    min-height: 100vh;
    
}
.header__top{
    display: flex;
    padding: 16px 0 82px;
    align-items: center;
    justify-content: space-between;
}

.menu__list{
    display: flex;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    margin-left: 60px;
    margin-right: 54px;

    
}
.menu__item{
    margin-right: 22px;
}
.menu__link{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.9);
}

.header__phone-number{
    font-size: 20px;
    line-height: 27px;
    color:#fff;
    font-weight: 800;
}
.header__top-btn{
    padding: 18px 32px;
    text-align: center;
    font-size: 16px;
    line-height: 22px;
    align-items: center;
    border-radius: 5px;
    background: #5BBFC8;
    font-weight: 800;
    border: none;
    
}
.header__content{
    margin-bottom: 80px;
    padding-left: 20px;
}
.header__title{
    font-weight: 800;
    font-size: 64px;
    line-height: 80px;
    text-transform: uppercase;
    color:rgba(255, 255, 255);
    margin-bottom: 10px;
}
.header__text{
    padding-bottom: 40px;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    max-width: 540px;
}
.header__button{
    display: inline-block;
    padding: 22px 16px 22px 19px;
    background: #FFD200;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color:#000;
    text-align: center;
    align-items: center;
}

.header__button-img{
    margin-left: 7px;
    margin-bottom: -10px;
    
}

.header__cards-box{
    display: flex;
    
}
.header__card-text{
    display: block;
}

.header__card-item{
    font-size: 16px;
    line-height: 22px;
    color:#000;
    background: url(../images/header__card-item-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 66px 24px 66px 42px;
    border-radius: 10px;
    margin-right: 11px;
    width: 412px;
}
.header__card-sedan{
    font-size: 19px;
    line-height: 25px;
    color:#000;
    background: #FFD300;
    border-radius: 10px;
    padding-left: 17px;
    padding-right: 63px;
    padding-top: 16px;
    margin-right: 11px;
    width: 204px;
}
.header__sedan-price{
    color: #534407;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    background: #DEB905;
    border-radius: 5px;
    padding: 5px 8px;
    display: inline-block;
    margin-bottom: 13px;
       
}
.header__sedan-logo{
    width: 108px;
    height: 108px;
    margin-top: 88px;
    display: block;
    
}
.header__card-jeep{
    font-size: 19px;
    line-height: 25px;
    color:#fff;
    background: #4B5257;
    border-radius: 10px;
    padding-left: 17px;
    padding-right: 63px;
    padding-top: 16px;
    margin-right: 11px;
    width: 204px;
}
.header__jeep-price{
    color: #fff;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    background: #B0B0B0;;
    border-radius: 5px;
    padding: 5px 8px;
    display: inline-block;
    margin-bottom: 13px;
       
}
.header__jeep-logo{
    width: 108px;
    height: 108px;
    margin-top: 108px;
    display: block;
    
}
.header__card-truck{
    font-size: 19px;
    line-height: 25px;
    color:#000;
    background: #5BBFC8;
    border-radius: 10px;
    padding-left: 17px;
    padding-right: 63px;
    padding-top: 16px; 
    width: 204px;
}
.header__truck-price{
    color: #1E4D54;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    background: #49A1A9;;;
    border-radius: 5px;
    padding: 5px 8px;
    display: inline-block;
    margin-bottom: 13px;
       
}
.header__truck-logo{
    width: 108px;
    height: 108px;
    margin-top: 108px;
    display: block;
    
}

.header__card-title{
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    color:#000;
}
.header__card-hr{
    width: 88px;
    height: 7px;
    color: #000;
    background: #000;
    border: none;
    border-radius: 5px;
}





